<app-case-actions
    [header]="panelData.name"
    [actionPrimaryButton]="{href: '../../decision/create', text: 'Make decision'}"
    [actionSecondaryButton]="{href: '../../hearing/list', text: 'List for hearing'}"
></app-case-actions>

<!--<div class="jui-cf" *ngIf="documents && documents.length; else noDocuments">-->
<div class="jui-cf jui-cf jui-cf--show-comments" *ngIf="documents && documents.length; else noDocuments">

    <div class="jui-cf__toolbar" role="toolbar">
        <div class="jui-cf__toolbar-container">
            <!-- show case list tree-->
            <button class="jui-cf__toolbar-button jui-cf__toolbar-button--items" type="button" aria-controls="files" aria-pressed="true">All items</button>
            <!-- show case annotations-->
            <button class="jui-cf__toolbar-button jui-cf__toolbar-button--comments" type="button" aria-controls="comments" aria-pressed="false">Comments</button>
        </div>
    </div>

    <!-- Case file complete start-->
    <div class="jui-cf__window" >

        <div class="jui-cf__window-container">

            <!-- case list tree components start -->
            <!--<div class="jui-cf__files" id="files" style="display: block;">-->
            <div class="jui-cf__files" id="files" style="display: none;">

                <h2 class="govuk-visually-hidden" id="all-items">All items</h2>
                <ul class="jui-tree" aria-labelledby="all-items" role="tree">

                    <li class="jui-tree__item jui-tree__item--open" role="treeitem" aria-expanded="true" tabindex="0">
                        <span class="jui-tree__folder">Documents</span>
                        <ul class="jui-tree__folder-group">
                            <li class="jui-tree__doc" *ngFor="let document of documents; let i = index;">
                                <a class="jui-tree__doc-link" routerLink="../{{document.id}}" [attr.aria-current]="(selectedDocument && document.id === selectedDocument.id) || null" role="treeitem" tabindex="-1">
                                    <span class="jui-tree__doc-name">{{document.name}}</span>
                                    <span class="jui-tree__doc-meta">Added 27 Jan 2018 at 2:31pm</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Sample of other folder code -->
                    <!--<li class="jui-tree__item" role="treeitem" aria-expanded="false" tabindex="-1">-->
                    <!--<span class="jui-tree__folder">Statements of information</span>-->
                    <!--<ul class="jui-tree__folder-group">-->
                    <!--<li class="jui-tree__doc">-->
                    <!--<a class="jui-tree__doc-link" href="/app/cases/FR1231612322/documents/statement-of-information" role="treeitem" tabindex="-1">-->
                    <!--<span class="jui-tree__doc-name">Form D81 application document</span>-->
                    <!--<span class="jui-tree__doc-meta">Added 27 Jan 2018 at 2:15pm</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li class="jui-tree__doc">-->
                    <!--<a class="jui-tree__doc-link" href="#!" role="treeitem" tabindex="-1">-->
                    <!--<span class="jui-tree__doc-name">Form D81 respondent document</span>-->
                    <!--<span class="jui-tree__doc-meta">Added 27 Jan 2018 at 2:23pm</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- case list tree components end -->


            <!-- Casefile View Code with annotation stuff starts -->
            <div class="jui-cf__document">
                <!--<div class="jui-cf__document-comments" id="comments" style="display: none;">-->
                <div class="jui-cf__document-comments" id="comments" style="display: block;">
                    
                    <app-hmcts-alert [iconFallbackText]="'Success'" [type]="'information'" [text]="'Select text to add a comment.'"></app-hmcts-alert>

                    <!-- Comment components start-->
                    <div class="jui-comment">
                        <div class="jui-comment__header">
                            <span class="jui-comment__author">Judge Prita Shah</span>
                            <time class="jui-comment__meta" datetime="2018-08-23T16:48">23 August 2018 at 4:48pm</time>
                        </div>
                        <div class="jui-comment__content"><p>Please provide more details on the contents of family home.</p></div>
                        <div class="jui-comment__footer">
                            <button class="govuk-button" type="submit">Edit</button>
                            <button class="govuk-button hmcts-button--secondary" type="submit">Delete</button>
                        </div>
                    </div>
                    <!-- Comment components end-->

                </div>

                <!-- Casefile View Code starts -->
                <div class="jui-cf__document-pages">
                    <div class="jui-cf__document-page">
                        <div class="jui-casefile-document-wrapper" *ngIf="selectedDocument">
                            <div class="jui-casefile-page editable medium-editor-element" data-medium-editor-element="true"
                                 role="textbox"
                                 aria-multiline="true" data-medium-editor-editor-index="1"
                                 medium-editor-index="ca3cfb8f-8b6a-8f73-1ed5-fa7679703446" data-placeholder="Type your text">
                                <!-- <app-viewer [url]="selectedDocument.url" [baseUrl]="documentUrl"></app-viewer> -->
                                <app-document-viewer [url]="selectedDocument.url" [baseUrl]="documentUrl" [annotate]="allowAnnotations"></app-document-viewer>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Casefile View Code ends -->
            </div>
            <!-- Casefile View Code with annotation stuff ends -->

        </div>
    </div>
    <!-- Case file complete end-->

</div>

<ng-template #noDocuments>
    <p data-selector="no-documents">This case file is empty.</p>
</ng-template>
