<div data-selector="summary-panel-component" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ng-container *ngFor="let section of panelData.sections">
            <div  class="govuk-grid-row">
                <div class="govuk-grid-column" *ngIf="section.id !== 'recentEvents'">
                    <app-data-list [title]="section.name" [dataList]="section.fields"></app-data-list>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="govuk-grid-column-one-third">
        <app-timeline-section [events]="getRecentEvents()" [caseId]="caseId"></app-timeline-section>
    </div>
</div>
