{
    "semi": false,
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [".prettierrc", "package,json"],
            "options": { "parser": "json" }
        }
    ]
}
